/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}
@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}
body.no-scroll {
  overflow-y: hidden;
}

.main {
  flex: 1 1 auto;
  width: 100%;
  padding-top: 60px;
}

a {
  outline: none;
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  transition: all ease 0.3s;
}

svg {
  display: block;
  flex: 0 0 auto;
  fill: currentColor;
}

img {
  vertical-align: top;
  max-width: 100%;
  user-select: none;
}

.h1 {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.2;
  padding: 0;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.h1:last-child {
  margin-bottom: 0;
}

.checkform {
  position: relative;
  background: linear-gradient(to bottom, rgb(234, 248, 255) 20%, rgba(255, 255, 255, 0) 80%);
}
.checkform__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}
.checkform__aside {
  flex: 0 0 auto;
  width: 500px;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .checkform__aside {
    width: 355px;
  }
}
@media (max-width: 991px) {
  .checkform__aside {
    width: 100%;
    margin-bottom: 30px;
  }
}
.checkform__content {
  flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  padding-left: 70px;
}
@media (max-width: 1199px) {
  .checkform__content {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .checkform__content {
    padding-left: 0;
  }
}
.checkform__center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 650px;
}
.checkform__check {
  width: 355px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgb(148, 148, 148);
  overflow: hidden;
  position: relative;
}
@media (max-width: 991px) {
  .checkform__check {
    height: 270px;
  }
  .checkform__check::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 2;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 80%);
  }
}
@media (max-width: 575px) {
  .checkform__check {
    width: 100%;
    max-width: 335px;
    padding: 20px;
  }
}
.checkform__check img {
  display: block;
  width: 100%;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}
.checkform__form {
  padding: 60px;
  border-radius: 20px;
  background-color: #FFF;
  border: 2px solid #ff1616;
}
@media (max-width: 991px) {
  .checkform__form {
    padding: 30px;
  }
}
.checkform__form__info {
  margin-bottom: 30px;
}
.checkform__form__info:last-child {
  margin-bottom: 0;
}
.checkform__form__info p {
  margin: 0 0 15px 0;
}
.checkform__form__info p:first-child {
  margin-bottom: 0;
}
.checkform__form .mbtn {
  min-width: 200px;
}
@media (max-width: 991px) {
  .checkform__form .mbtn {
    max-width: 100%;
    width: 100%;
  }
}
.checkform__btns {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  margin: -15px auto 15px auto;
}
@media (max-width: 575px) {
  .checkform__btns {
    width: 100%;
    max-width: 335px;
    margin: 0 auto 10px auto;
  }
}
.checkform__btns__item {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  padding: 15px;
}
@media (max-width: 991px) {
  .checkform__btns__item {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}
.checkform__btns .mbtn {
  width: 100%;
}
.checkform__result {
  position: relative;
}
.checkform__result__check {
  width: 355px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgb(148, 148, 148);
  overflow: hidden;
  position: relative;
}
@media (max-width: 575px) {
  .checkform__result__check {
    width: 100%;
    max-width: 335px;
    padding: 20px;
  }
}
.checkform__result__check img {
  display: block;
  width: 100%;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: block;
}
.form__item {
  margin-top: 20px;
}
.form__item:first-child {
  margin-top: 0;
}
.form__info {
  font-size: 14px;
  padding-top: 7px;
  display: none;
}
@media (max-width: 991px) {
  .form__info {
    font-size: 12px;
  }
}
.form__info.text__error {
  display: block;
  color: #ff1616;
}
.form__info.text__valid {
  display: block;
  color: #3d9921;
}
.form__label {
  display: block;
  font-size: inherit;
  margin-bottom: 5px;
}
.form__input {
  display: block;
  width: 100%;
  outline: none;
  padding: 12px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background: transparent;
  font-size: 16px;
  line-height: 1;
  color: #000;
  transition: all 0.3s ease;
}
.form__input::placeholder {
  color: #b1b1b1;
}
.form__input.form__input__error {
  color: #ff1616;
  border-color: #ff1616;
}
.form__input.form__input__valid {
  color: #3d9921;
  border-color: #3d9921;
}

.mbtn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  outline: none !important;
  background: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  padding: 13px 25px;
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}
@media (max-width: 991px) {
  .mbtn {
    font-size: 14px;
  }
}
.mbtn.mbtn__primary {
  color: #FFF;
  background: #27a5e5;
}
.mbtn.mbtn__primary:hover, .mbtn.mbtn__primary:focus {
  color: #FFF;
  background: #15719f;
}
.mbtn.mbtn__outline {
  color: #27a5e5;
  background-color: transparent;
  border: 2px solid #27a5e5;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 30px;
  line-height: 1;
}
.mbtn.mbtn__outline:hover, .mbtn.mbtn__outline:focus {
  color: #FFF;
  background: #27a5e5;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 991px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
}
@media (min-width: 1280px) {
  .container {
    width: 1220px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 1.5rem;
    width: 100%;
  }
}

.mobilemenu {
  position: fixed;
  left: 0;
  margin-top: 60px;
  top: -100%;
  right: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  transition: all 0.4s ease;
  z-index: 99;
}
@media (max-width: 991px) {
  .mobilemenu.mobilemenu__opened {
    top: 0;
  }
}
.mobilemenu__body {
  padding: 40px 0;
}
.mobilemenu__menu {
  list-style: none;
  margin: 0 0 55px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.mobilemenu__menu li {
  margin-bottom: 20px;
}
.mobilemenu__menu a {
  display: inline-block;
  color: #000;
  position: relative;
}
.mobilemenu__menu a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #858585;
  transform: translateY(-5px);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1;
}
.mobilemenu__menu a:hover, .mobilemenu__menu a:focus {
  color: #858585;
}
.mobilemenu__menu a:hover::after, .mobilemenu__menu a:focus::after {
  transform: translateY(0);
  opacity: 1;
}
.mobilemenu__socio {
  width: 100%;
  position: relative;
}
.mobilemenu__socio ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.mobilemenu__socio ul li {
  display: block;
}
.mobilemenu__socio ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #27a5e5;
  border-radius: 50%;
  color: #FFF;
}
.mobilemenu__socio ul a:hover, .mobilemenu__socio ul a:focus {
  transform: translateY(-4px);
}
.mobilemenu__socio ul a svg {
  max-width: 18px;
  max-height: 18px;
}

.header {
  width: 100%;
  background-color: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
.header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  height: 60px;
}
@media (max-width: 991px) {
  .header__content {
    gap: 30px;
  }
}
.header__logo {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.header__logo a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 180px;
  height: 22px;
}
.header__logo a img, .header__logo a svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__aside {
  flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.header__menu li {
  display: block;
}
.header__menu a {
  display: inline-block;
  position: relative;
}
.header__menu a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #27a5e5;
  transform: translateY(-5px);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1;
}
.header__menu a:hover, .header__menu a:focus {
  color: #27a5e5;
}
.header__menu a:hover::after, .header__menu a:focus::after {
  transform: translateY(0);
  opacity: 1;
}
.header__btnmobile {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
}
.header__btnmobile span {
  position: absolute;
  right: 0;
  height: 2px;
  background-color: #000;
  transition: all ease 0.4s;
}
.header__btnmobile span.line_0 {
  left: 0;
  top: 4px;
}
.header__btnmobile span.line_1 {
  left: 6px;
  top: 10px;
}
.header__btnmobile span.line_2 {
  left: 0;
  top: 16px;
}
.header__btnmobile.active span.line_1 {
  opacity: 0;
}
.header__btnmobile.active span.line_0 {
  top: 10px;
  transform: rotate(45deg);
}
.header__btnmobile.active span.line_2 {
  top: 10px;
  transform: rotate(-45deg);
}
.header .header__hidedesktop {
  display: none;
}
@media (max-width: 991px) {
  .header .header__hidedesktop {
    display: block;
  }
}
.header .header__hidemobile {
  display: block;
}
@media (max-width: 991px) {
  .header .header__hidemobile {
    display: none;
  }
}

.footer {
  width: 100%;
  padding: 45px 0;
  background-color: #000;
  color: #FFF;
}
.footer__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
@media (max-width: 991px) {
  .footer__content {
    flex-direction: column;
    gap: 30px;
  }
}
.footer__logo {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.footer__logo a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  height: 100px;
}
.footer__logo a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__socio {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.footer__socio ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}
.footer__socio ul li {
  display: block;
}
.footer__socio ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 50%;
  color: #000;
}
.footer__socio ul a:hover, .footer__socio ul a:focus {
  transform: translateY(-4px);
}
.footer__socio ul a svg {
  max-width: 18px;
  max-height: 18px;
}
.footer__info {
  width: 100%;
  max-width: 100%;
  flex: 1 0 0%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.footer__info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__info ul li {
  display: block;
  margin-top: 2px;
}
.footer__info ul a {
  display: inline-block;
  color: #ff8562;
}
.footer__info ul a:hover, .footer__info ul a:focus {
  color: #c7370d;
}